:root{
  --bg:#f6f6f4;
  --ink:#111111;
  --hero-ink:#ffffff;
  --muted:#4b4f55;
  --line:rgba(0,0,0,.12);
  --soft-black:#2e2f2a;
  --olive-green:#969b84;
  --warm-white: #f5f5ef;
  --forest-green: #4b5a3f;
  --cream-beige: #dedacb;
  --sage-green: #aab295;
  --hero-line:rgba(255,255,255,.12);
  --pill-bg:rgba(255,255,255,.7);
  --accent:#2a2e33;
  --shadow:0 8px 30px rgba(0,0,0,.08);
  --hero-image:url("../../images/hero-img.webp");
  --bonded-hero-image:url("../../images/placeholders/bonded-hero.webp");
  --designinspo-hero-image:url("../../images/placeholders/design-inspiration.webp");
  --contact-hero-image:url("../../images/placeholders/contact-hero.webp");
  --windows-doors-hero-image:url("../../images/placeholders/windowsdoors-hero.webp");
  --home-automation-one:url("../../images/home-automation-one.webp");
  --home-automation-two:url("../../images/home-automation-two.webp");
  --home-automation-three:url("../../images/switchglass.webp");
  --home-automation-four:url("../../images/home-automation-four.webp");
  --home-automation-five:url("../../images/door-access.webp");
  --home-automation-six:url("../../images/home-automation-six.webp");
  --home-automation-seven:url("../../images/home-automation-seven.webp");
  --hero-event:url("../../images/placeholders/hero-event.webp");
  --hero-energy-efficiency:url("../../images/placeholders/hero-energy-efficiency.webp");
  --logo:url("../../images/logos/DS_White.webp");
  --page-max:1760px;
  --hero-max-height:1200px;
  --hero-overlay:40%;
  --hero-parallax:0px;
  --dropdown-top: 70px;
  --hero-bespoke-designed:url("../../images/placeholders/hero-bespoke-design.webp");
  --hero-bespoke-config:url("../../images/placeholders/hero-bespoke-config.webp");
  --accent: var(--sage-green);
  --card-bg: color-mix(in oklab, #fff 98%, transparent);
  --card-stroke: color-mix(in oklab, #000 10%, transparent);
  --card-stroke-strong: color-mix(in oklab, #000 16%, transparent);
}
